# OS metadata
.DS_Store
Thumbs.db

# Database files
*.db
*.db-shm
*.db-wal
*.db.bak
*.sqlite
*.sqlite3

# Environment & secrets
.env
*.env.local
backend/icarus-auth-ms/keys/
backend/*/keys/

# Node & Frontend
node_modules/
dist/
.angular/
.npm/

# Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
backend/**/bin/
